---
import Layout from '@layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { format } from 'date-fns';
import { getCollection } from 'astro:content';

const posts = await getCollection('musings');
posts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
---

<Layout
  title="Musings"
  description="I seek to be free from the concept of meaning, to carve my own reality."
  pageType="musings"
>
  <h1>Musings</h1>

  <blockquote class="subtitle-quote">
    I seek to be free from the concept of meaning, to carve my own reality.
  </blockquote>
  <p>
    These are my musings, my reflections on life. I love philosophy, and seek to
    understand the world in all of its idiosyncrasies. At times, I'll also write
    on some rather personal subjects. I may not be a particularly good writer,
    but frankly, I could care less. If you don't want to read, you can always
    click off the page, I don't mind at all.
  </p>
  <p>
    Also some fun, random content for those that are stuck in this cycle of
    seeking knowledge.
  </p>
  <br />
  <div id="posts">
    {
      posts.map((post) => {
        const { title, description, date, image } = post.data;

        return (
          <div class="post-row">
            <div class="post">
              <div class="post-details">
                <span class="post-title">
                  <a href={`/musings/${post.slug}`}>{title}</a>
                </span>
                <div class="post-date-section">
                  <Icon name="la:calendar" />
                  <span class="post-date">
                    <i>{format(date, 'PPP')}</i>
                  </span>
                </div>
                <span class="post-description">{description}</span>
              </div>
              <div class="post-preview-image">
                <img src={image.url} alt={image.alt} height={50} />
              </div>
            </div>
            <hr />
          </div>
        );
      })
    }
  </div>
</Layout>

<style>
  .subtitle-quote {
    color: #a26b35;
    font-style: italic;
  }

  #posts {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .post-details {
    display: flex;
    flex-direction: column;
  }

  .post-date-section {
    display: flex;
    align-items: center;
    color: #f0883e;
    gap: 0.5em;
  }

  .post-description {
    color: #888888;
  }
</style>
