---
import { format } from 'date-fns';
const { title, description, date, url, image } = Astro.props;

const formattedDate = format(new Date(date), 'PPP');
---

<div class="card">
  <img class="card-image" src={image} alt="Card Image" />
  <div class="card-content">
    <a href={url}> <h2 class="card-title">{title}</h2></a>
    <p class="card-description">{description}</p>
    <p class="card-date">{formattedDate}</p>
  </div>
</div>

<style>
  .card {
    margin: auto;
    border: 1px solid #888888;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
  }

  .card-image {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 20px;
  }

  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .card-description {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .card-date {
    font-size: 14px;
    color: #888888;
  }
</style>
