---
import '@styles/global.css';
import '@styles/markdown.css';
import '@fontsource/ibm-plex-mono';
import Layout from '@layouts/Layout.astro';
import { format } from 'date-fns';
import type { CollectionEntry } from 'astro:content';

export interface Props {
  post: CollectionEntry<'musings'>;
}

const { post } = Astro.props;
const { title, description, date, tags, timeToRead, image } = post.data;

const formattedDate = format(new Date(date), 'PPP');

const { Content } = await post.render();
---

<Layout
  {title}
  {description}
  date={new Date(date)}
  image={image.url}
  pageType={post.slug}
>
  <main>
    <h1>{title}</h1>
    <div class="metadata-line">
      {formattedDate} :: {tags.map((tag: string) => `#${tag}`).join(', ')} :: {
        timeToRead
      }
    </div>
    <img class="top-image" src={image.url} alt={image.alt} />
    <hr />
    <div class="content">
      <Content />
    </div>
  </main>
</Layout>

<style>
  .metadata-line {
    text-align: center;
    color: #888888;
  }

  .content {
    max-width: 95%;
  }

  .top-image {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
  }
</style>
