---
import '@styles/global.css';
import '@fontsource/ibm-plex-mono';
import Layout from '@layouts/Layout.astro';
import { format } from 'date-fns';

const { frontmatter } = Astro.props;
const { title, description, date, tags, timeToRead, image } = frontmatter;

const formattedDate = format(new Date(date), 'PPP');
---

<Layout {title} {description} {date} {image} enableOpengraph>
  <div class="page-container">
    <main>
      <h1>{title}</h1>
      <div class="metadata-line">
        {formattedDate} :: {tags.map((tag: string) => `#${tag}`).join(', ')} :: {
          timeToRead
        }
      </div>
      <img class="top-image" src={image.url} alt={image.alt} />
      <hr />
      <slot />
    </main>
  </div>
</Layout>

<style>
  .metadata-line {
    text-align: center;
    color: #888888;
  }

  .top-image {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
</style>
