---
import '@styles/global.css';
import '@styles/markdown.css';
import '@fontsource/ibm-plex-mono';
import Layout from '@layouts/Layout.astro';
import { format } from 'date-fns';
import type { CollectionEntry } from 'astro:content';

export interface Props {
  post: CollectionEntry<'musings'>;
}

const { post } = Astro.props;
const { title, description, date, tags, image, authors } = post.data;

const authorListFormatter = new Intl.ListFormat('en', {
  style: 'long',
  type: 'conjunction',
});
const authorsStr = authorListFormatter.format(authors);

// The estimated reading rate for the average reader is
// ~200 words per minute (WPM).
const READING_RATE = 200;

const timeToRead = (() => {
  const htmlContent = post.body || post.rendered?.html || '';

  const textContent = htmlContent
    .replace(/<[^>]+>/g, ' ') // Remove HTML tags
    .replace(/&[^;]+;/g, ' '); // Remove HTML entities

  const rawWords = textContent.replace(/[^a-zA-Z0-9\s']/g, ' ');

  const wordCount = rawWords
    .split(/\s+/)
    .filter((word) => /^[a-zA-Z]+(?:'[a-zA-Z]+)?$/.test(word)).length;

  const minutes = Math.max(1, Math.ceil(wordCount / READING_RATE));

  return `${minutes} ${minutes == 1 ? 'minute' : 'minutes'}`;
})();

const formattedDate = format(new Date(date), 'PPP');

const { Content } = await post.render();
---

<Layout
  {title}
  {description}
  date={new Date(date)}
  image={image.url}
  pageType={post.slug}
  {authors}
>
  <main>
    <h1>{title}</h1>
    <div class="below-title">
      <div class="metadata-line">
        {formattedDate} :: {timeToRead}
      </div>
      <div class="tag-line">
        {
          tags.map((tag: string) => (
            <a
              href={`/musings?q=${encodeURIComponent(`#${tag}`)}`}
              class="tag-link"
            >
              #{tag}
            </a>
          ))
        }
      </div>
      <div class="author-line">
        ~&gt; {authorsStr}
      </div>
    </div>
    <img class="top-image" src={image.url} alt={image.alt} />
    <hr />
    <div class="content">
      <Content />
    </div>
  </main>
</Layout>

<style>
  .below-title {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .metadata-line {
    text-align: center;
    color: #888888;
  }

  .tag-line {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .author-line {
    color: #b76e79;
  }

  .content {
    max-width: 95%;
  }

  .top-image {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
  }
</style>
